/*=====================
Common CSS
=======================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: black;
  --secondary-color: #ed017f;
}
@font-face {
  font-family: Metropolis-Regular;
  src: url("../assests/common/Metropolis-Regular.otf");
}
@font-face {
  font-family: Metropolis-SemiBold;
  src: url("../assests/common/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: Metropolis-Bold;
  src: url("../assests/common/Metropolis-Bold.otf");
}
@font-face {
  font-family: Metropolis-ExtraBold;
  src: url("../assests/common/Metropolis-ExtraBold.otf");
}
.container {
  max-width: 1396px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}
body {
  font-family: Metropolis-Regular;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--primary-color);
}
.primary-btn {
  background-color: var(--secondary-color);
  font-size: 12px;
  border: 1px solid var(--secondary-color);
  position: relative;
}
.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: white;
  transition: all 0.5s linear;
  overflow: hidden;
  border-radius: 4px;
}
.primary-btn:hover::after {
  width: 100%;
}
.primary-btn span {
  transition: 0.5s linear;
  color: white;
}
.primary-btn:hover > span {
  color: var(--secondary-color);
  position: relative;
  z-index: 2;
}
.secondary-btn {
  border: 1px solid var(--secondary-color);
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
}
.secondary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--secondary-color);
  transition: all 0.5s linear;
  overflow: hidden;
  border-radius: 4px;
}
.secondary-btn:hover::after {
  width: 100%;
}
.secondary-btn span {
  transition: 0.5s linear;
  color: var(--secondary-color);
}
.secondary-btn:hover > span {
  color: white;
  position: relative;
  z-index: 2;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-7percent {
  width: 7%;
}
.col-23-25percent {
  width: 23.25%;
}
.col-3 {
  width: calc(8.33% * 3);
}
.col-4 {
  width: calc(8.33% * 4);
}
.col-8 {
  width: calc(8.33% * 8);
}
.col-20per {
  width: 20%;
}
.title-1 {
  font-size: 63px;
  font-family: Metropolis-ExtraBold;
  line-height: 68px;
}
.title-2 {
  font-family: Metropolis-Bold;
  color: rgba(0, 0, 0, 80%);
  font-size: 35px;
  text-align: center;
}
.subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 40%);
  line-height: 22px;
  text-align: center;
}
.center {
  margin: auto;
}
.right {
  margin-left: auto;
}

/*==================
Navbar
====================*/

nav,
.navbar-collapsed,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}
.nav-logo > .logo {
  height: 77px;
}
nav label {
  display: none;
}
.navbar-collapsed {
  flex-grow: 1;
}
.navbar-collapsed > ul {
  margin: auto;
  color: var(--primary-color);
}
.navbar-collapsed li {
  margin: calc(41.6px / 2);
}
header a {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
}
.navbar-collapsed a {
  transition: 0.5s linear;
}
.navbar-collapsed a:hover {
  color: var(--secondary-color);
}
.search-icon {
  height: 24px;
  margin-right: 27px;
}
.nav-btn {
  padding: 17px 30px;
  border-radius: 4px;
}

.search-row {
  display: flex;
  align-items: center;
}
.small-navbtn {
  display: none;
}

/* =================
Responsiveness
==================== */

@media screen and (max-width: 1200px) {
  header {
    position: relative;
  }
  .navbar-collapsed {
    position: fixed;
    top: 0;
    width: 100%;
    right: -100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    transition: all 0.5s linear;
  }
  #navbar-toggler:checked ~ .navbar-collapsed {
    right: 0;
  }
  nav label {
    display: block;
    position: relative;
    z-index: 99;
  }
  nav label > span {
    display: inline-block;
    width: 24px;
    height: 2px;
    background: var(--primary-color);
    transform: translateY(1px);
    transition: all 0.5s linear;
  }
  #navbar-toggler:checked ~ label > span {
    transform: rotate(-45deg) translateX(1px);
    background-color: var(--secondary-color);
  }
  nav label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 2px;
    transition: all 0.5s linear;
  }
  #navbar-toggler:checked ~ label::before {
    transform: translateX(45px);
    background-color: var(--secondary-color);
  }
  nav label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 2px;
    transition: all 0.5s linear;
  }
  #navbar-toggler:checked ~ label::after {
    transform: rotate(45deg) translateX(1px);
    background-color: var(--secondary-color);
  }
  .navbar-collapsed ul {
    flex-direction: column;
  }
  .navbar-collapsed li {
    margin: 0 0 30px 0;
  }
  .navbar-collapsed li:first-child {
    margin: 30px 0 30px 0;
  }
  .navbar-collapsed > .row {
    flex-direction: column-reverse;
    margin: 0 0 20px;
  }
  .navbar-collapsed .search-icon {
    margin: 15px 0 0 0;
  }
  .navbar-collapsed .search-row {
    display: none;
  }
  .small-navbtn {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav-logo > .logo {
    height: 60px;
  }
  .navbar-collapsed li {
    margin: 0 0 20px 0;
  }
  .navbar-collapsed li:first-child {
    margin: 20px 0 20px 0;
  }
  .nav-btn {
    padding: 9px 16px;
  }
  .search-icon {
    margin-right: 12px;
  }
  .small-navbtn {
    margin-right: 12px;
  }
  nav label > span {
    width: 18px;
  }
  nav label::before {
    height: 2.5px;
  }
  #navbar-toggler:checked ~ label::before {
    transform: translateX(35px);
  }
}
@media screen and (max-width: 576px) {
  nav label::before {
    height: 2px;
  }
  nav label::before {
    top: 1px;
  }
}
